<h1>Find out the shipping cost of your parcel!</h1>

<form action="/output">
  <div class="form-group">
    <label for="length">The length of your parcel</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">The width of your parcel</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="depth">The depth of your parcel</label>
    <input id="depth" name="depth" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">The weight of your parcel</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
